<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 등록폼</title>
  <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="form-box">
<h1>Create a New Board</h1>
<form th:action="@{/write}" th:object="${board}" method="post">
  <div>
  <label for="name">Name :</label><br>
  <input type="text" id="name" th:field="*{name}" required/>
  </div>
  <div>
  <label for="title">Title :</label><br>
  <input type="text" id="title" th:field="*{title}" required />
  </div>
  <div>
  <label for="content">Content :</label><br>
  <textarea id="content" th:field="*{content}" required></textarea>
  </div>
  <div>
  <label for="password">Password :</label><br>
  <input type="password" id="password" th:field="*{password}" required />
  </div>
  <input type="submit" value="Create">
</form>
</div>
</body>
</html>
